<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Content-1</title>
        <link rel="stylesheet" href="../css/content-3.css">
        <link rel="stylesheet" href="../css/content-3-inner.css">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="panel-four">
            <div class="panel-heading">
                <h3 class="title-heading">Nổi bật</h3>
                <a href="#">Xem thêm</a>
            </div>
            <div class="panel-body">
                <div class="container">
                    <div class="inner-4">
                        <div class="thumb">
                            <a href="#">
                                <img src="https://s3-ap-southeast-1.amazonaws.com/img.spiderum.com/sp-thumbnails/f5aa11104e1311eab42ddbe21faca1f4.png" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <h3 class="title">
                                <a href="#">Đầu tư vào nhân sự trẻ: Kim chỉ nam cho sự phát triển bền vững</a>
                            </h3>
                            <div class="author">
                                <a href="#" class="avatar">
                                    <img src="https://s3-ap-southeast-1.amazonaws.com/img.spiderum.com/sp-xs-avatar/c3edf44040da11e88c56e97b1d97fbce.png" alt="">
                                </a>
                                <a href="#" class="username">Spiderum Team</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="inner-4">
                        <div class="thumb">
                            <a href="#">
                                <img src="https://s3-ap-southeast-1.amazonaws.com/img.spiderum.com/sp-thumbnails/f5aa11104e1311eab42ddbe21faca1f4.png" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <h3 class="title">
                                <a href="#">Đầu tư vào nhân sự trẻ: Kim chỉ nam cho sự phát triển bền vững</a>
                            </h3>
                            <div class="author">
                                <a href="#" class="avatar">
                                    <img src="https://s3-ap-southeast-1.amazonaws.com/img.spiderum.com/sp-xs-avatar/c3edf44040da11e88c56e97b1d97fbce.png" alt="">
                                </a>
                                <a href="#" class="username">Spiderum Team</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="inner-4">
                        <div class="thumb">
                            <a href="#">
                                <img src="https://s3-ap-southeast-1.amazonaws.com/img.spiderum.com/sp-thumbnails/f5aa11104e1311eab42ddbe21faca1f4.png" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <h3 class="title">
                                <a href="#">Đầu tư vào nhân sự trẻ: Kim chỉ nam cho sự phát triển bền vững</a>
                            </h3>
                            <div class="author">
                                <a href="#" class="avatar">
                                    <img src="https://s3-ap-southeast-1.amazonaws.com/img.spiderum.com/sp-xs-avatar/c3edf44040da11e88c56e97b1d97fbce.png" alt="">
                                </a>
                                <a href="#" class="username">Spiderum Team</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="inner-4">
                        <div class="thumb">
                            <a href="#">
                                <img src="https://s3-ap-southeast-1.amazonaws.com/img.spiderum.com/sp-thumbnails/f5aa11104e1311eab42ddbe21faca1f4.png" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <h3 class="title">
                                <a href="#">Đầu tư vào nhân sự trẻ: Kim chỉ nam cho sự phát triển bền vững</a>
                            </h3>
                            <div class="author">
                                <a href="#" class="avatar">
                                    <img src="https://s3-ap-southeast-1.amazonaws.com/img.spiderum.com/sp-xs-avatar/c3edf44040da11e88c56e97b1d97fbce.png" alt="">
                                </a>
                                <a href="#" class="username">Spiderum Team</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="inner-4">
                        <div class="thumb">
                            <a href="#">
                                <img src="https://s3-ap-southeast-1.amazonaws.com/img.spiderum.com/sp-thumbnails/f5aa11104e1311eab42ddbe21faca1f4.png" alt="">
                            </a>
                        </div>
                        <div class="text">
                            <h3 class="title">
                                <a href="#">Đầu tư vào nhân sự trẻ: Kim chỉ nam cho sự phát triển bền vững</a>
                            </h3>
                            <div class="author">
                                <a href="#" class="avatar">
                                    <img src="https://s3-ap-southeast-1.amazonaws.com/img.spiderum.com/sp-xs-avatar/c3edf44040da11e88c56e97b1d97fbce.png" alt="">
                                </a>
                                <a href="#" class="username">Spiderum Team</a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </body>
</html>