<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Navbar</title>
        <link rel="stylesheet" href="../css/footer.css">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="footer">
            <div class="footer-container">
                <ul class="list-link">
                    <li>
                        <a href="#">Wiki</a>
                    </li>
                    <li>
                        <a href="#">Điều khoản sử dụng</a>
                    </li>
                    <li>
                        <a href="#">Thư ngỏ</a>
                    </li>
                    <li>
                        <a href="#">Fanpage</a>
                    </li>
                </ul>
                <div class="credit">
                    <p>Người chịu trách nhiệm nội dung: Trần Việt Anh • © 2020 Công ty TNHH Felizz</p>
                    <p>Điện thoại: 0946042093</p>
                    <p>Email: spiderumcontact@gmail.com</p>
                    <p>Địa chỉ: Tâng 11, tòa nhà HL Tower, lô A2B, phố Duy Tân, phường Dịch Vọng Hậu, quận Cầu Giấy, thành phố Hà Nội</p>
                    <p>Giấy phép MXH số 341/GP-TTTT do Bộ TTTT cấp ngày 27 tháng 6 năm 2016</p>
                </div>
            </div>
        </div>
    </body>
</html>