<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Navbar</title>
        <link rel="stylesheet" href="../css/navbar.css">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav>
            <header id="header">
                <div class="header-upper">
                    <div class="outer-container">
                        <div class="header-logo">
                            <a class="logo" href="#">
                                <img src="../imgs/logo4.png" alt="logo">
                            </a>
                        </div>
                        <div class="header-search">
                            <form action="">
                                <input class="input" type="text" placeholder="Tìm kiếm theo tiêu đề, tác giả hoạc tag">
                                <button class="submit" type="submit"><ion-icon name="search-outline" style="font-size: 26px; color: rgb(110, 108, 108);"></ion-icon></button>
                            </form>
                        </div>
                        <div id="header-account">
                            <ul class="list-menu list-unstyled clearfix">
                                <li class="create-post">
                                    <a class="btn btn-primary btn-round btn-create-post" href="#">Viết bài</a>
                                </li>
                                <li class="unauthenticated">
                                    <ul class="list-login list-unstyled clearfix">
                                        <li>
                                            <a href="#">Đăng kí</a>
                                        </li>
                                        <li>
                                            <a href="#">Đăng nhập</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="header-down">
                    <div class="menu-inner">
                        <div class="outer-container"></div>
                            <div class="main-menu-wrapper">
                                <ul class="main-menu list-unstyled">
                                    <li class="active"><a href="#">Cho bạn</a></li>
                                    <li><a href="#">Tất cả</a></li>
                                    <li><a href="#">Thành viên nổi bật</a></li>
                                    <li><a href="#">Quan điểm - Tranh luận</a></li>
                                    <li><a href="#">Science2vn</a></li>
                                    <li><a href="#">Sách</a></li>
                                    <li><a href="#">Danh mục khác</a></li>
                                    <li><a href="#">Việc làm</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </nav>
        <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    </body>
</html>