body{
    font-size: 14px;
    font-family: 'Noto Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.5385615384;
    color: #34495E;
}
.inner{
    width: 552px;
    height: 560px;
    box-shadow: 0 4px 2px -2px gray;
    border-radius: 5px;
    border-right: 1px solid rgb(194, 192, 192);
    border-left: 1px solid rgb(194, 192, 192);
}
.inner .thumb img{
    height: 270px;
    width: 552px;
    object-fit: cover;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.inner .text{
    padding: 5px 15px 10px 15px;
}
.inner a{
    text-decoration: none;
}
.inner .author{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}
.inner .author .avatar{
    margin: 0;
}
.inner .author .avatar img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.inner .author .username{
    padding-left: 15px;
    color: rgb(130, 133, 133);
}
.inner .text .title a{
    color: black;
}
.inner .text .body{
    display: block;
    margin-bottom: 100px;
    color: black;
}
